<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.SreturnMapper">
  <resultMap id="BaseResultMap" type="cn.entity.Sreturn">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="utime" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="suser" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reason" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sid" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, utime, suser, reason, sid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sreturn
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
   <select id="getSreturnList" parameterType="cn.entity.Sreturn" resultType="cn.entity.Sreturn">
			select p.*,g.*,s.*,c.customerName from sales p,sreturn s,goods g,customer c  where p.id=s.sid and p.gid=g.id and c.id=p.cid
    </select>
  
  <select id="getList" parameterType="cn.entity.Sreturn" resultType="cn.entity.Sreturn">
			select p.*,g.*,s.*,c.customerName from sales p,sreturn s,goods g,customer c  where p.id=s.sid and p.gid=g.id and c.id=p.cid
    </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sreturn
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.entity.Sreturn">
    insert into sreturn (id, utime, suser, 
      reason, sid)
    values (#{id,jdbcType=INTEGER}, #{utime,jdbcType=VARCHAR}, #{suser,jdbcType=VARCHAR}, 
      #{reason,jdbcType=VARCHAR}, #{sid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.entity.Sreturn">
    insert into sreturn
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="utime != null">
        rtime,
      </if>
      <if test="suser != null">
        suser,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="sid != null">
        sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="utime != null">
        #{utime,jdbcType=VARCHAR},
      </if>
      <if test="suser != null">
        #{suser,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.entity.Sreturn">
    update sreturn
    <set>
      <if test="utime != null">
        rtime = #{rtime,jdbcType=VARCHAR},
      </if>
      <if test="suser != null">
        suser = #{suser,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.entity.Sreturn">
    update sreturn
    set utime = #{utime,jdbcType=VARCHAR},
      suser = #{suser,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>